/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: #373fff; /* #e75dff; */
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

/**
* Slack app specific at the moment -j$
*/

.add-to-slack {
  background-color: #25E1A5;
  padding: 2em;
  border-radius: .3em;
  margin-bottom: 2em;
}

.add-to-slack h1 {
  color: #fff;
  background: url('https://glitch.com/edit/slack-icon.png') no-repeat;
  padding: 0 0 0 3em;
  line-height: 2.5em;
  margin: 0;
}

.add-to-slack h2 {
  font-weight: normal;
  margin: .5em 0;
}

.slack-support {
  padding: 0 2em;
}

.add-to-slack p,
.slack-support p,
.add-to-slack h2,
.slack-support h4 {
  max-width: 700px;
  line-height: 1.5em
}

.slack-flag {
  padding: 1em;
  color: #fff;
  max-width: 100%;
  background-color: #454BFB;
}

.slack-flag.error {
  background-color: #FD696F;
}